.contacts .phone,
.contacts .email,
.contacts .address {
  float: left;
  width: 100%;
  margin: 2px 0px;
  position: relative;
}
.contacts .phone input[name=phone_num] {
  width: 25%;
}
.contacts .phone input[name=phone_description] {
  width: 74.45%;
}
.contacts.form .row {
  float: left;
  width: 100%;
}
.contacts.form input {
  margin-bottom: 4px;
}
.contacts.form .delete {
  border-left: 1px dotted #eee;
  position: absolute;
  font-size: 19px;
  padding: 6px;
  right: 1px;
  top: -9px;
  background-color: #fff;
  min-width: 30px;
  color: #666;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  border-yop-left-radius: 0px;
}
.contacts.form .delete:hover {
  color: #fff;
  border-left: 1px solid #eee;
  background-color: #ff6961;
}
.contacts.form .new .delete {
  display: none;
}
.contacts.form .sn .row {
  padding-left: 0px;
  padding-right: 0px;
}
.contacts.form .sn .icon {
  padding: 7px 10px;
  font-size: 25px;
  width: 45px;
  height: 40px;
  position: absolute;
  text-align: center;
  color: #fff;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
}
.contacts.form .sn .vk .icon {
  background: #155e8b;
}
.contacts.form .sn .facebook .icon {
  background: #3c599f;
}
.contacts.form .sn .twitter .icon {
  background: #00acee;
}
.contacts.form .sn .google_plus .icon {
  background: #d44132;
}
.contacts.form .sn .live_journal .icon {
  background: url("/static/admin/img/live_journal_icon.png") #306599 no-repeat center center;
  background-size: contain;
}
.contacts.form .sn input {
  padding-left: 55px;
}
