* {
  font-family: 'Open Sans', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-size: 14px;
  background-color: #eee;
  padding-bottom: 50px;
}
div {
  float: left;
}
iframe div {
  float: inherit;
}
a {
  cursor: pointer;
}
body.loading .content .loading {
  display: block;
}
.content {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
}
.content .loading {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.content .loading .background {
  position: absolute;
  background: #fff;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}
.content .loading .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/static/img/loading.gif") no-repeat center center;
  background-size: 40px 40px;
}
.main-wrapper {
  width: 960px;
  float: none;
  margin: auto;
}
.frame {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 10px;
  width: 100%;
  background-color: #fff;
  min-height: 200px;
}
.menu-container {
  width: 220px;
  min-height: 0px;
}
.menu-container ul {
  list-style: none;
  width: 100%;
  float: left;
}
.menu-container ul li {
  width: 100%;
}
.menu-container ul li a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #eee;
}
.menu-container ul li a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #f98d16;
}
.content {
  width: 700px;
}
.main-header {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  min-height: 52px;
  width: 100%;
}
.main-header .header-login {
  float: right;
  padding: 0px 30px;
  display: none;
}
.main-header .header-login .icon {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  margin: 5px 2px;
  cursor: pointer;
  background: #fff;
}
.main-header .header-login .icon img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 35px;
}
a {
  color: #666;
  font-size: 12px;
  text-decoration: none;
}
a:hover {
  color: #444;
  text-decoration: underline;
}
.main-popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
.main-popup .background {
  position: absolute;
  background-color: #000;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}
.main-popup .container {
  display: block;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50,50,50,0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(50,50,50,0.5);
  box-shadow: 0px 0px 10px 0px rgba(50,50,50,0.5);
  overflow: hidden;
  z-index: 2;
  position: absolute;
  background-color: #fff;
  color: #aaa;
  border: 1px solid #ccc;
  top: 50%;
  left: 50%;
}
.main-popup .container .popup-header {
  float: left;
  border-bottom: 1px solid #eee;
  color: #f98d16;
  text-align: center;
  min-height: 30px;
  width: 100%;
}
.main-popup .container .popup-header .text {
  font-size: 18px;
  padding: 8px 20px;
}
.main-popup .container .popup-header.non-close .close {
  display: none;
}
.main-popup .container .popup-header.non-close .text {
  text-align: center;
  width: 100%;
}
.main-popup .container .popup-header .close {
  float: right;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-left: 1px solid #eee;
  font-size: 24px;
  padding: 8px;
}
.main-popup .container .popup-header .close:hover {
  background-color: #f98d16;
  color: #fff;
}
.main-popup .container .popup-content {
  float: left;
  width: 100%;
  clear: both;
}
.main-popup .container .popup-content > .text {
  padding: 20px;
}
.main-popup .container .popup-content .buttons {
  clear: both;
  float: left;
  width: 100%;
  padding: 0px 10px;
  white-space: nowrap;
  overflow: hidden;
}
.main-popup .container .popup-content .buttons .buttons-left {
  float: left;
  display: inline-block;
}
.main-popup .container .popup-content .buttons .buttons-right {
  float: right;
  display: inline-block;
}
.main-popup .container .popup-content .buttons .buttons-right input[type=button] {
  display: inline-block;
  margin: 10px;
}
.frame > .header,
.frame-main-header {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.frame > .header .text,
.frame-main-header .text,
.frame > .header .text a,
.frame-main-header .text a {
  color: #f98d16;
  font-size: 20px;
}
.frame > .header .text,
.frame-main-header .text {
  padding: 7px 10px;
}
.frame > .header .back-button a,
.frame-main-header .back-button a {
  color: #f98d16;
  display: block;
  border-right: 1px solid #eee;
  margin: -10px;
  margin-right: 0px;
  font-size: 30px;
  padding: 18px;
  height: 64px;
}
.category-list,
.items-list {
  float: left;
  clear: both;
}
.list-title {
  width: 100%;
  float: left;
  color: #999;
  padding: 0px 10px 10px 10px;
  font-size: 1.2em;
}
.list .item,
.icon-button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #eee;
  margin: 3px;
  overflow: hidden;
  background-color: #fff;
}
.list .item.new,
.icon-button.new {
  border: 1px dashed #eee;
  white-space: nowrap;
}
.list .item.new .icon,
.icon-button.new .icon {
  background-color: #fff;
  border-right: 1px dashed #eee;
}
.list .item.new .name,
.icon-button.new .name {
  min-width: 0px;
}
.list .item a,
.icon-button a {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.list .item .icon,
.icon-button .icon {
  padding: 11px;
  border-right: 1px solid #eee;
  font-size: 1.2em;
  background-color: #eee;
  width: 40px;
  height: 36px;
  text-align: center;
  background-position: center center;
  background-size: cover;
}
.list .item .name,
.icon-button .name {
  padding: 0px 10px;
  min-width: 200px;
  display: inline-block;
  vertical-align: middle;
}
.list .item .edit-buttons,
.icon-button .edit-buttons {
  opacity: 0;
  float: right;
}
.list .item .edit-buttons .button,
.icon-button .edit-buttons .button {
  float: left;
  font-size: 12px;
  color: #666;
  cursor: pointer;
}
.list .item .edit-buttons .button:hover,
.icon-button .edit-buttons .button:hover {
  color: #333;
}
.list .item .edit-buttons .button .icon,
.icon-button .edit-buttons .button .icon {
  background-color: transparent;
  border: none;
  border-left: 1px dashed #eee;
}
.icon-button {
  color: #999;
  font-size: 13px;
  cursor: pointer;
  vertical-align: middle;
}
.icon-button:hover {
  border-color: #ddd;
  color: #666;
}
.icon-button .icon {
  vertical-align: middle;
}
.icon-button .name {
  min-width: 0;
}
.field-wrapper {
  width: 100%;
  position: relative;
  display: inline-block;
}
.field-edit-buttons {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 1px 0px 5px;
}
.field-edit-buttons .button {
  height: 100%;
  width: 40px;
  float: left;
  font-size: 1em;
  color: #666;
  cursor: pointer;
  border-left: 1px dashed #eee;
  text-align: center;
  position: relative;
}
.field-edit-buttons .button:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.6em;
  margin-left: -0.4em;
}
.field-edit-buttons .button:hover {
  color: #333;
}
.field-edit-buttons .button.visibility:before {
  content: '\f06e';
}
.field-edit-buttons .button.visibility.invisible:before {
  content: '\f070';
}
/* ---------------------------------- IMAGE LOADER ---------------------------------------- */
.image-loader {
  text-align: center;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  border: 1px dashed #ccc;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.image-loader .source-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}
.image-loader .source {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: none;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.image-loader.loading .source {
  background-image: none !important;
}
.image-loader.loading .no-photo {
  display: none;
}
.image-loader.loading .loading {
  display: block;
}
.image-loader.has-image {
  border: 1px solid #ccc;
}
.image-loader.has-image .source {
  display: block;
}
.image-loader.has-image .loading,
.image-loader.has-image .no-photo {
  display: none;
}
.image-loader .no-photo,
.image-loader .loading {
  font-size: 100px;
  color: #ccc;
  position: absolute;
  margin: -50px;
  top: 50%;
  left: 50%;
}
.image-loader .loading {
  display: none;
}
.image-loader input[type=file] {
  cursor: pointer;
  position: absolute;
  left: -50px;
  top: -50px;
  font-size: 0px;
  width: 150%;
  height: 150%;
  opacity: 0;
  z-index: 2;
}
/* ------------------------------------------------------------------------------- */
table.list {
  border-collapse: separate;
  border-spacing: 0px 3px;
}
table.list thead {
  color: #666;
  font-size: 12px;
}
table.list .item {
  cursor: pointer;
}
table.list .item:hover td {
  color: #333;
}
table.list td {
  font-size: 12px;
  color: #666;
  padding: 0px 10px;
  border-color: #eee;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-right-style: dashed;
}
table.list td.name {
  min-width: 200px;
}
table.list td.icon {
  background-color: #eee;
  padding: 10px;
  font-size: 1em;
  width: 40px;
  text-align: center;
  background-position: center center;
  background-size: cover;
}
table.list td:first-child {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  border-left-width: 1px;
}
table.list td:last-child {
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  border-right-width: 1px;
  border-right-style: solid;
}
table.list td.buttons {
  padding: 0px;
}
table.list .edit-buttons {
  opacity: 0;
  float: right;
}
table.list .edit-buttons .button {
  float: left;
  border-left: 1px dashed #eee;
}
table.list .edit-buttons .button a {
  width: 100%;
  height: 100%;
  font-size: 14px;
}
table.list .edit-buttons .button .icon {
  text-align: center;
  width: 40px;
  padding: 10px 10px;
  background-color: transparent;
  border: none;
}
.nothing-found {
  color: #666;
  font-size: 12px;
}
html,
body {
  height: 100%;
}
.footer {
  font-size: 12px;
  color: #444;
  text-decoration: underline;
  bottom: 0px;
  width: 100%;
  padding: 0px;
}
.footer .copyrights {
  vertical-align: bottom;
  float: left;
  padding: 15px 10px 0px 10px;
}
.footer .design {
  float: right;
  padding: 10px;
}
.footer .design div {
  padding: 5px;
  float: left;
}
.footer .design a {
  float: left;
}
.footer .wish {
  display: none !important;
}
/* ---------------------------------- TRANSLATOR --------------------------------------- */
.translator-right-tabs {
  position: absolute;
  left: 1px;
}
.translator-right-tabs .tab {
  cursor: pointer;
  z-index: 1;
/*word-break: break-all;*/
  width: 19px;
  position: relative;
  margin-top: -20px;
  overflow: hidden;
}
.translator-right-tabs .tab:first-child {
  margin-top: 0px;
}
.translator-right-tabs .tab .title {
  float: left;
  background: #f7f7f7;
  border-right: 1px solid #ccc;
  width: 100%;
  padding: 5px 0px;
  line-height: 12px;
  font-size: 10px;
  color: #666;
  text-align: center;
}
.translator-right-tabs .tab.default .title {
  font-weight: normal;
}
.translator-right-tabs .tab:before {
  content: "";
  display: block;
  float: left;
  height: 18px;
  width: 100%;
  background-image: url("/static/admin/img/side_tab.png");
  background-position: 100% 70px;
}
.translator-right-tabs .tab:after {
  content: "";
  display: block;
  float: left;
  height: 18px;
  width: 100%;
  background-image: url("/static/admin/img/side_tab.png");
  background-position: bottom right;
}
.translator-right-tabs .tab.is-active {
  width: 20px;
  z-index: 30 !important;
  left: -1px;
}
.translator-right-tabs .tab.is-active .title {
  background: #fff;
}
.translator-right-tabs .tab.is-active:before {
  background-position: top right;
}
.translator-right-tabs .tab.is-active:after {
  background-position: 100% 89px;
}
.translator-language-selector {
  z-index: 99;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
  border: 1px solid #ccc;
  color: #666;
  font-size: 12px;
  position: absolute;
  background: #fff;
}
.translator-language-selector .current .arrow {
  font-size: 8px;
  padding: 2px 0px 0px 3px;
}
.translator-language-selector .item {
  padding: 5px;
  clear: both;
  width: 100%;
  float: none;
}
.translator-language-selector .languages-list {
  width: 100%;
  float: none;
  border-top: 1px dashed #ccc;
  display: none;
  clear: both;
}
.translator-language-selector .languages-list .item:hover {
  background-color: #f98d16;
  color: #fff;
}
/* ------------------------------------ EDITABLE LIST ----------------------------------------- */
.editable-list {
  border-collapse: separate;
  border-spacing: 0px 3px;
}
.editable-list thead {
  color: #666;
  font-size: 12px;
}
.editable-list .item {
  cursor: pointer;
}
.editable-list .item:hover td {
  color: #333;
}
.editable-list td {
  font-size: 12px;
  color: #666;
  padding: 0px 10px;
  border-color: #eee;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-right-style: dashed;
}
.editable-list td.name {
  min-width: 200px;
}
.editable-list td.icon {
  background-color: #eee;
  padding: 10px;
  font-size: 1em;
  width: 40px;
  text-align: center;
  background-position: center center;
  background-size: cover;
}
.editable-list td:first-child {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  border-left-width: 1px;
}
.editable-list td:last-child {
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  border-right-width: 1px;
  border-right-style: solid;
}
.editable-list td.buttons {
  padding: 0px;
}
.editable-list .edit-buttons {
  opacity: 0;
  float: right;
}
.editable-list .edit-buttons .button {
  float: left;
  border-left: 1px dashed #eee;
}
.editable-list .edit-buttons .button a {
  width: 100%;
  height: 100%;
  font-size: 14px;
}
.editable-list .edit-buttons .button .icon {
  text-align: center;
  width: 40px;
  padding: 10px 10px;
  background-color: transparent;
  border: none;
}
.editable-list .item td {
  cursor: default;
}
.editable-list .item input {
  border-color: #fff;
  padding: 3px 10px;
  margin: 1px 0px;
  -webkit-transition: border-color 0.5s ease;
}
.editable-list .item input:hover {
  border-color: #ccc;
}
.editable-list .item input:focus {
  border-color: #f98d16;
}
.editable-list .item .edit-buttons {
  width: 41px;
  min-height: 1px;
}
.editable-list .item .edit-buttons .button {
  float: right;
}
.editable-list .item .edit-buttons.save {
  opacity: 1 !important;
  border-right: 1px dashed #eee;
}
.editable-list .item .edit-buttons.delete {
  border: none;
}
.editable-list .item.new .edit-buttons.delete .button {
  display: none;
}
.editable-list .item.template td {
  border-style: dashed;
}
.editable-list .item.template .icon {
  background-color: transparent;
  border-right: 1px dashed #eee;
}
.editable-list .item.template .edit-buttons.delete .button {
  display: none !important;
}
.editable-list .item.new input {
  border-color: #ccc;
}
.editable-list .item.new input:focus {
  border-color: #f98d16;
}
/* ------------------------------------ ICON LIST ------------------------------------ */
.icon-list {
  padding: 10px 20px;
  width: 100%;
  float: left;
  list-style: none;
}
.icon-list .item {
  float: left;
  cursor: pointer;
  position: relative;
  padding: 3px;
  border: 1px solid #eee;
  background-color: #fff;
  width: 150px;
  height: 100px;
  margin: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.icon-list .item .title {
  color: #666;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.icon-list .item .icon {
  width: 100%;
  height: 100%;
  padding: 0px;
  border: none;
  font-size: 1.2em;
  background-color: transparent;
}
.icon-list .item .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.icon-list .item .image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}
.icon-list .item .button .invisible {
  display: none;
}
.icon-list .item.invisible .icon {
  opacity: 0.2;
}
.icon-list .item.invisible .button .visible {
  display: none;
}
.icon-list .item.invisible .button .invisible {
  display: block;
}
.icon-list .item.new {
  border: 1px dashed #eee;
}
.icon-list .item.new .icon {
  opacity: 0.2;
  font-size: 14px;
}
.icon-list .item.new:hover {
  border-color: #ccc;
}
.icon-list .item.new:hover .icon {
  opacity: 0.4;
}
.icon-list .item.new .fa {
  font-size: 50px;
  color: #333;
  padding-top: 22px;
}
.icon-list .item.template {
  display: none;
}
.icon-list .buttons {
  display: none;
  position: absolute;
  width: 100%;
  border-top: 1px solid #eee;
  bottom: 0px;
  left: 0px;
  height: 30px;
  color: #666;
  background-color: #fff;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.icon-list .buttons .button {
  width: 50%;
  text-align: center;
  height: 100%;
  padding: 6px 0px;
}
.icon-list .buttons .button:hover {
  color: #333;
}
.icon-list .buttons .button:first-child {
  border-right: 1px solid #eee;
}
.form.image-form {
  padding-top: 20px;
}
.form.image-form .image-loader {
  text-align: center;
  cursor: pointer;
  position: relative;
  width: 300px;
  height: 200px;
  float: left;
  overflow: hidden;
  border: 1px dashed #ccc;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.form.image-form .image-loader .fa {
  font-size: 100px;
  color: #ccc;
  position: absolute;
  margin: -50px;
  top: 50%;
  left: 50%;
}
.form.image-form .fields {
  width: 50%;
}
.form.image-form .fields .submit {
  margin: 0px;
}
/* ------------------------------------ LIST ------------------------------------ */
.list .button .invisible {
  display: none;
}
.list .item {
  cursor: pointer;
  font-size: 12px;
  color: #666;
}
.list .item.invisible .change-default {
  display: none;
}
.list .item .change-default.true .invisible {
  display: none;
}
.list .item .change-default.true .visible {
  display: block;
}
.list .item .change-default.false .invisible {
  display: block;
}
.list .item .change-default.false .visible {
  display: none;
}
.list .item .datetime {
  vertical-align: top;
  display: inline-block;
  width: 120px;
  min-width: inherit;
  border-right: 1px solid #eee;
  height: 36px;
  padding: 10px;
}
.list .item.invisible {
  border-color: #f6f6f6;
}
.list .item.invisible .title {
  opacity: 0.2;
}
.list .item.invisible .button .visible {
  display: none;
}
.list .item.invisible .button .invisible {
  display: block;
}
.xdsoft_datetimepicker div {
  float: none;
}
.training-form .question ul {
  list-style: decimal;
}
.training-form .question li {
  margin-left: 40px;
}
.training-form .question li .is_true_icon {
  display: none;
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 10px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.training-form .question li.true input {
  padding-right: 40px;
}
.training-form .question li.true .is_true_icon {
  display: block;
}
.training-form .question li.true .field-edit-buttons {
  display: none !important;
}
.training-form .question.template {
  display: none;
}
